<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>418731414813-vuhfskm6kqkqbfg6kqjnp1fcbqobu3bj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.418731414813-vuhfskm6kqkqbfg6kqjnp1fcbqobu3bj</string>
	<key>API_KEY</key>
	<string>AIzaSyC-eq2Ja6CyTSM0A1_dquJDkeo5HFw2nJM</string>
	<key>GCM_SENDER_ID</key>
	<string>418731414813</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>wtm.WTM</string>
	<key>PROJECT_ID</key>
	<string>whatsthemove-1b3f6</string>
	<key>STORAGE_BUCKET</key>
	<string>whatsthemove-1b3f6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:418731414813:ios:aa8ff60025d343c6b03df4</string>
</dict>
</plist>